In [1]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [3]:
df = pd.read_csv("../1. Classification/Churn_Modelling.csv")

In [4]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
## Preprocessing the dataset
## Drop irrelevant columns

df.drop(["RowNumber", "CustomerId", "Surname"], axis=1, inplace=True)

In [6]:
### Encoding Gender Feature Using LabelEncoder
encoder = LabelEncoder()

In [7]:
df["Gender"] = encoder.fit_transform(df["Gender"])

In [8]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [9]:
### Encoding Geography Feature Using OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder()
geo_encoder = onehot.fit_transform(df[["Geography"]]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
onehot.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoder_df = pd.DataFrame(geo_encoder, columns=onehot.get_feature_names_out(["Geography"]))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
## Dropping Geography in dataset and 
## Combining geo_encoder_df with the original data

df = pd.concat([df.drop("Geography", axis=1), geo_encoder_df], axis=1)

In [ ]:
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [ ]:
### Independent and Dependent Features
X = df.drop("EstimatedSalary", axis=1)
y = df["EstimatedSalary"]

##Train, Test, Split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

## Scale these features
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
with open("scaler.pkl", "wb") as file:
    pickle.dump(scaler, file)

## Save the Encoders and Scalers
with open("Label_encoder_gender.pkl","wb") as file:
    pickle.dump(encoder,file)

with open("OneHot_encoder_geo.pkl","wb") as file:
    pickle.dump(onehot,file)

### ANN Regression Problem statement

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
### Build Our ANN Model

model = Sequential([
    Dense(64, activation="relu", input_shape = (X_train.shape[1],)), ## HL Connected with Input Layer
    Dense(32, activation="relu"), ## Hidden Layer2
    Dense(1) ## Output Layer

])

## compile the model
model.compile(optimizer="adam", loss="mean_absolute_error", metrics=["mae"])

/home/ghost/.pyenv/versions/3.10.12/envs/myenv/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2025-03-26 21:01:36.096326: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

In [19]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
### Set up the TensorBoard
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [21]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor="val_loss", patience=10, restore_best_weights=True)

In [22]:
### Training the model
history = model.fit(
    X_train, y_train, 
    validation_data = (X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 101335.4531 - mae: 101335.4531 - val_loss: 98515.7812 - val_mae: 98515.7812
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99443.8359 - mae: 99443.8359 - val_loss: 97018.4766 - val_mae: 97018.4766
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99047.4141 - mae: 99047.4141 - val_loss: 93222.6406 - val_mae: 93222.6406
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 92852.1328 - mae: 92852.1328 - val_loss: 86918.4688 - val_mae: 86918.4688
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 86419.5859 - mae: 86419.5859 - val_loss: 78700.9453 - val_mae: 78700.9453
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 77927.4766 - mae: 77927.4766 - val_loss: 70187.6562 - val_mae: 70187.6562
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 70011.0547 - mae: 70011.0547 - val_loss: 62691.5898 - val_mae: 62691.5898
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 62814.9062 - mae: 62814.9062 - val_loss: 57098.7344 - val_mae: 57098.7344
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 56480.9102 - mae: 56480.9102 - val_loss: 53757.1055 - val_mae: 53757.1055
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 53202.0273 - mae: 53202.0273 - val_loss: 52116.6328 - val_mae: 52116.6328
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51774.3203 - mae: 51774.3203 - val_loss: 51407.2188 - val_mae: 51407.2188
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51178.2148 - mae: 51178.2148 - val_loss: 51108.4453 - val_mae: 51108.4453
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50806.6875 - mae: 50806.6875 - val_loss: 50979.0586 - val_mae: 50979.0586
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50047.0117 - mae: 50047.0117 - val_loss: 50917.3555 - val_mae: 50917.3555
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49776.2148 - mae: 49776.2148 - val_loss: 50866.7266 - val_mae: 50866.7266
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50338.1133 - mae: 50338.1133 - val_loss: 50827.6992 - val_mae: 50827.6992
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50363.9180 - mae: 50363.9180 - val_loss: 50783.5625 - val_mae: 50783.5625
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50495.5000 - mae: 50495.5000 - val_loss: 50732.4648 - val_mae: 50732.4648
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50277.0820 - mae: 50277.0820 - val_loss: 50694.7422 - val_mae: 50694.7422
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50206.9336 - mae: 50206.9336 - val_loss: 50664.4375 - val_mae: 50664.4375
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50245.2070 - mae: 50245.2070 - val_loss: 50635.2852 - val_mae: 50635.2852
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49307.3008 - mae: 49307.3008 - val_loss: 50609.7227 - val_mae: 50609.7227
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50198.0117 - mae: 50198.0117 - val_loss: 50576.2812 - val_mae: 50576.2812
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50073.1797 - mae: 50073.1797 - val_loss: 50564.3125 - val_mae: 50564.3125
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49766.0000 - mae: 49766.0000 - val_loss: 50534.2852 - val_mae: 50534.2852
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50205.6133 - mae: 50205.6133 - val_loss: 50522.3359 - val_mae: 50522.3359
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49706.3516 - mae: 49706.3516 - val_loss: 50502.1484 - val_mae: 50502.1484
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49233.1797 - mae: 49233.1797 - val_loss: 50478.8672 - val_mae: 50478.8672
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49718.4766 - mae: 49718.4766 - val_loss: 50467.8047 - val_mae: 50467.8047
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49866.8945 - mae: 49866.8945 - val_loss: 50456.5938 - val_mae: 50456.5938
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49409.5820 - mae: 49409.5820 - val_loss: 50439.9141 - val_mae: 50439.9141
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49447.9844 - mae: 49447.9844 - val_loss: 50431.9023 - val_mae: 50431.9023
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49457.5273 - mae: 49457.5273 - val_loss: 50428.6250 - val_mae: 50428.6250
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49543.3359 - mae: 49543.3359 - val_loss: 50437.3086 - val_mae: 50437.3086
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49348.8086 - mae: 49348.8086 - val_loss: 50418.0703 - val_mae: 50418.0703
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49556.6289 - mae: 49556.6289 - val_loss: 50402.8672 - val_mae: 50402.8672
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48762.5938 - mae: 48762.5938 - val_loss: 50396.0312 - val_mae: 50396.0312
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49873.6406 - mae: 49873.6406 - val_loss: 50395.1445 - val_mae: 50395.1445
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49433.9180 - mae: 49433.9180 - val_loss: 50387.6328 - val_mae: 50387.6328
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49541.1406 - mae: 49541.1406 - val_loss: 50373.7891 - val_mae: 50373.7891
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49590.9648 - mae: 49590.9648 - val_loss: 50372.5586 - val_mae: 50372.5586
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49180.7812 - mae: 49180.7812 - val_loss: 50367.3242 - val_mae: 50367.3242
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49609.0078 - mae: 49609.0078 - val_loss: 50365.3594 - val_mae: 50365.3594
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49717.0352 - mae: 49717.0352 - val_loss: 50356.4766 - val_mae: 50356.4766
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49787.6172 - mae: 49787.6172 - val_loss: 50353.0352 - val_mae: 50353.0352
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49818.1562 - mae: 49818.1562 - val_loss: 50345.0938 - val_mae: 50345.0938
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49200.1914 - mae: 49200.1914 - val_loss: 50325.5273 - val_mae: 50325.5273
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49465.0820 - mae: 49465.0820 - val_loss: 50345.3203 - val_mae: 50345.3203
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50170.1562 - mae: 50170.1562 - val_loss: 50344.3906 - val_mae: 50344.3906
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49602.5625 - mae: 49602.5625 - val_loss: 50339.4023 - val_mae: 50339.4023
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49959.8945 - mae: 49959.8945 - val_loss: 50333.9805 - val_mae: 50333.9805
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49507.0039 - mae: 49507.0039 - val_loss: 50344.9453 - val_mae: 50344.9453
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49350.6406 - mae: 49350.6406 - val_loss: 50331.0117 - val_mae: 50331.0117
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49268.1992 - mae: 49268.1992 - val_loss: 50341.2891 - val_mae: 50341.2891
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49600.5742 - mae: 49600.5742 - val_loss: 50331.4922 - val_mae: 50331.4922
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49629.4688 - mae: 49629.4688 - val_loss: 50339.0000 - val_mae: 50339.0000
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49296.0469 - mae: 49296.0469 - val_loss: 50326.0312 - val_mae: 50326.0312

In [23]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 381855), started 0:00:06 ago. (Use '!kill 381855' to kill it.)

In [29]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51240.4688 - mae: 51240.4688
Test MAE: 50325.52734375

In [30]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.